body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Default styles */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

/* Light theme styles */
.App.light {
  background-color: white;
  color: black;
}

/* Dark theme styles */
.App.dark {
  background-color: black;
  color: white;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #ccc;
}
